# This is our master CA certificate
[ca]
certificate = test-ca-1.ca

######################################################################
# RSA private key
# Here the ip address is the ip address in the certificate, it is used to
# search the certificate from the cert cache

[rsa-key]
private-key = test-user-1.prv
#ip = 127.0.0.1
email = test-user-1@safenet-inc.com
certificate = test-user-1.crt

######################################################################
# DSA private key
# Here the ip address is the ip address in the certificate, it is used to
# search the certificate from the cert cache

#[dsa-key]
#private-key = ssh-test-dsa.prv
#ip = 127.0.0.1
#certificate = ssh-test-dsa.bin

######################################################################
# Initial data to certificate cache

[certificates]
# certificate = :p:foo.pem
#certificate = test-user-2.crt

######################################################################
# Pre shared key cache
# Note that here the ip, etc are the remote ends ip address, not local end
# identifiers

[pre-shared-key]
key = whatcertificatereallyorsomething
email = test-user-1@safenet-inc.com
email = test-user-2@safenet-inc.com
ip = 127.0.0.1
#ip = 192.168.2.4
#ip = 192.168.2.43
#fqdn = foo.com
#userfqdn = kivinen@foo.com

# Global default key for all other connections

[pre-shared-key]
key = foo
ip = 172.30.4.73

[pre-shared-key]
key = abcd1234!
ip = 10.0.0.9
ip = 1.2.3.1
ip = 1.2.3.2
ip = 1.2.3.3
ip = 1.2.3.4
ip = 1.2.3.5
ip = 1.2.3.6
ip = 1.2.3.7
ip = 1.2.3.8
ip = 1.2.3.9
ip = 1.2.3.10
ip = 1.2.3.11
email = ken@company.com

#[pre-shared-key]
#key = whatcertificatereally
#ip = 0.0.0.0

# [pre-shared-key]
# key = whatcertificatereally2
# ip = 192.168.2.43
