/*
 *
 * qsconsole.rc
 *
*  Copyright:
*          Copyright (c) 2006 SFNT Finland Oy.
 *               All rights reserved.
 *
 * Policy manager and engine admin utility for Windows CE.
 *
 */

#ifdef _WIN32_WCE

#include <windows.h>
#include <commctrl.h>
#if defined(WIN32_PLATFORM_WFSP) || defined(WIN32_PLATFORM_PSPC)
#include <aygshell.h>
#endif
#include "qsconsole.h"

#if defined(WIN32_PLATFORM_WFSP)

/*
 * SmartPhone
 */

IDR_MENU MENU
{
	MENUITEM "Quit", IDM_QUIT
	POPUP "Menu"
	{
		POPUP "File"
		{
			MENUITEM "Clear", IDM_FILE_CLEAR
			MENUITEM "Quit", IDM_FILE_QUIT
		}
		POPUP "Action"
		{
			MENUITEM "Start", IDM_PM_START
			MENUITEM "Stop", IDM_PM_STOP
			MENUITEM "Reconfigure", IDM_PM_RECONFIGURE
			MENUITEM "Redo flows", IDM_PM_RECONFIGURE
#ifdef SSHDIST_QUICKSEC_INTERNAL
			MENUITEM "Delete SAs", IDM_PM_RECONFIGURE
#endif /* SSHDIST_QUICKSEC_INTERNAL */
			MENUITEM "Interrupt", IDM_PM_INTERRUPT
			MENUITEM "Terminate", IDM_PM_TERMINATE
#if 0
			MENUITEM "Load", IDM_ICEPT_LOAD
			MENUITEM "Unload", IDM_ICEPT_UNLOAD
#endif /* 0 */
		}
		POPUP "Settings"
		{
			MENUITEM "PM Arguments...", IDM_PM_ARGUMENTS
			MENUITEM "PM Config File...", IDM_PM_CONFIGFILE
			MENUITEM "PM Debug String...", IDM_PM_DEBUGSTRING
			MENUITEM "Engine Debug String...", IDM_ICEPT_DEBUGSTRING
		}
	}
}

IDR_MENU RCDATA
{
	IDR_MENU, 2,
	I_IMAGENONE, IDM_QUIT, TBSTATE_ENABLED, TBSTYLE_AUTOSIZE, IDS_QUIT, 0, NOMENU
	I_IMAGENONE, IDM_MENU, TBSTATE_ENABLED, TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE, IDS_MENU, 0, 1
}

IDR_DIALOG DIALOG 0, 0, 0, 0
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
{
	LTEXT "Title", IDD_TITLE, 4, 8, 128, 8
	EDITTEXT IDD_STRING 4, 24, 0, 0, ES_MULTILINE
}

IDR_FDIALOG DIALOG 0, 0, 0, 0
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
{
	LTEXT "Title", IDD_TITLE, 4, 8, 128, 8
	EDITTEXT IDD_STRING 4, 24, 0, 0, ES_MULTILINE | ES_WANTRETURN | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_VSCROLL | WS_HSCROLL
}

IDR_DMENU MENU
{
    MENUITEM "OK", IDOK
}

IDR_DMENU RCDATA
{
    IDR_DMENU, 1,
    I_IMAGENONE, IDOK, TBSTATE_ENABLED, TBSTYLE_AUTOSIZE, IDS_OK, 0, NOMENU
}

STRINGTABLE
{
	IDS_QUIT "Quit"
	IDS_MENU "Menu"
	IDS_OK "OK"
}

#elif defined(WIN32_PLATFORM_PSPC)

/*
 * PocketPC
 */

IDR_MENU MENU
{
	POPUP "File"
	{
		MENUITEM "Clear", IDM_FILE_CLEAR
		MENUITEM "Quit", IDM_FILE_QUIT
	}
	POPUP "Action"
	{
		MENUITEM "Start", IDM_PM_START
		MENUITEM "Stop", IDM_PM_STOP
		MENUITEM "Reconfigure", IDM_PM_RECONFIGURE
		MENUITEM "Redo flows", IDM_PM_RECONFIGURE
#ifdef SSHDIST_QUICKSEC_INTERNAL
		MENUITEM "Delete SAs", IDM_PM_RECONFIGURE
#endif /* SSHDIST_QUICKSEC_INTERNAL */
		MENUITEM "Interrupt", IDM_PM_INTERRUPT
		MENUITEM "Terminate", IDM_PM_TERMINATE
#if 0
		MENUITEM "Load", IDM_ICEPT_LOAD
		MENUITEM "Unload", IDM_ICEPT_UNLOAD
#endif /* 0 */
	}
	POPUP "Settings"
	{
		MENUITEM "PM Arguments...", IDM_PM_ARGUMENTS
		MENUITEM "PM Config File...", IDM_PM_CONFIGFILE
		MENUITEM "PM Debug String...", IDM_PM_DEBUGSTRING
		MENUITEM "Engine Debug String...", IDM_ICEPT_DEBUGSTRING
	}
}

IDR_MENU RCDATA
{
    IDR_MENU, 3,
    I_IMAGENONE, IDM_FILE, TBSTATE_ENABLED, TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE, IDS_FILE, 0, 0
    I_IMAGENONE, IDM_PM, TBSTATE_ENABLED, TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE, IDS_PM, 0, 1
    I_IMAGENONE, IDM_ICEPT, TBSTATE_ENABLED, TBSTYLE_DROPDOWN | TBSTYLE_AUTOSIZE, IDS_ICEPT, 0, 2
}

IDR_DIALOG DIALOG 0, 0, 0, 0
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
{
	LTEXT "Title", IDD_TITLE, 4, 8, 128, 8
	EDITTEXT IDD_STRING 4, 24, 0, 0, ES_MULTILINE
}

IDR_FDIALOG DIALOG 0, 0, 0, 0
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
{
	LTEXT "Title", IDD_TITLE, 4, 8, 128, 8
	EDITTEXT IDD_STRING 4, 24, 0, 0, ES_MULTILINE | ES_WANTRETURN | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_VSCROLL | WS_HSCROLL
}

STRINGTABLE
{
	IDS_FILE "File"
	IDS_PM "Action"
	IDS_ICEPT "Settings"
}

#else

/*
 * Standard CE
 */

IDR_ACCEL ACCELERATORS
{
	"C", IDM_FILE_CLEAR, VIRTKEY, CONTROL, NOINVERT
	"Q", IDM_FILE_QUIT, VIRTKEY, CONTROL, NOINVERT
}

IDR_MENU MENU
{
	POPUP "&File"
	{
		MENUITEM "&Clear  Ctrl+C", IDM_FILE_CLEAR
		MENUITEM "&Quit   Ctrl+Q", IDM_FILE_QUIT
	}
	POPUP "&Action"
	{
		MENUITEM "&Start", IDM_PM_START
		MENUITEM "S&top", IDM_PM_STOP
		MENUITEM "&Reconfigure", IDM_PM_RECONFIGURE
		MENUITEM "Redo &flows", IDM_PM_RECONFIGURE
		MENUITEM "De&lete SAs", IDM_PM_RECONFIGURE
		MENUITEM "&Interrupt", IDM_PM_INTERRUPT
		MENUITEM "T&erminate", IDM_PM_TERMINATE
#if 0
		MENUITEM "&Load", IDM_ICEPT_LOAD
		MENUITEM "&Unload", IDM_ICEPT_UNLOAD
#endif /* 0 */
	}
	POPUP "&Settings"
	{
		MENUITEM "PM &Arguments...", IDM_PM_ARGUMENTS
		MENUITEM "PM &Config File...", IDM_PM_CONFIGFILE
		MENUITEM "PM &Debug String...", IDM_PM_DEBUGSTRING
		MENUITEM "&Engine Debug String...", IDM_ICEPT_DEBUGSTRING
	}
}

IDR_DIALOG DIALOG 0, 0, 136, 136
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CAPTIONOKBTN
{
	EDITTEXT IDD_STRING 4, 8, 128, 128, ES_MULTILINE
}

IDR_FDIALOG DIALOG 0, 0, 136, 136
STYLE WS_POPUP | WS_CAPTION | WS_SYSMENU
EXSTYLE WS_EX_CAPTIONOKBTN
{
	EDITTEXT IDD_STRING 4, 8, 128, 128, ES_MULTILINE | ES_WANTRETURN | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_VSCROLL | WS_HSCROLL
}

#endif

#endif /* _WIN32_WCE */
